/* ----------------------  Id Selectors ---------------------- */
#clientTable{
	
	width: 100%;
}
#addClient, #cancelAdd {
	
	float: left;
	font-size: 1.25em;
	margin-left: 25em;
}
#dataTable {
	
	height : 750px;
}
#noResults {
	
	font-size: 2em;
	font-weight: bolder;
	text-decoration: underline;
}

/* --------------------- Class Selectors --------------------- */
.detailsTab {
	
	font-size: 0.90em;
	text-align: center;
}
td.details-control {
	
    background: url('../Images/plus.png') no-repeat center center;
    background-size: 26px 26px;
    background-color: #f2f2f2;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
}
td.shown {
	
    background: url('../Images/minus.png') no-repeat center center !important;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0);
}
.invoiceTable {

  	width: 100%;
	border-spacing: 10px;
}
.invoiceTable .btn{
	
	width: 200px;
	padding: 1em;
}

.main-details {
	
	font-weight: bolder;
}
.editNow {
	
	font-weight: bolder;
}
.hideMe {
	
	display: none;
}
.selected td {
	
	background-color: #e6e6e6 !important;
}
.btn {
	
	background-color: #ccccff;
	color: #4d0099;
}
.header {
	
	text-align: center;
	color: #4d0099;
}
.nav {

	background-color: #e6e6e6;
	color: #ffffff;
}
.initSlot {
	
	display: none !important;
}
.table-hover > tbody > tr:hover !important {
    
    background-color: #e6e6e6 !important;
}
a.current {
	
	font-weight: bolder;
	font-size: 1.1em;
	background: #4d0099 !important;
	color: #ccccff !important;
}
a.paginate_button {
	
	font-size: 1.1em;
	background: #ccccff !important;
	color: #4d0099 !important;
}

/* ---------------------- Tag Selectors ---------------------- */
head, body, footer{
	
	background-color: #f2f2f2;
	width:100%;
	text-align:center;
}
a {
	
	text-decoration: none;
	color: #4d0099;
	font-style: italic;
	font-size: 1.4em;
}
table.display tbody tr td {
	
    background-color: #f2f2f2;
}
input[type="text"] {
    
    width: 100% !important;
}
th {
	
	background-color: #f2f2f2;
	border-style: hidden;
	text-align: left;
	font-size: 1.1em;
}
tbody td {
	
	background-color: #f2f2f2;
	text-align: left;
	font-size: 1.1em;
}