/* ----------------------  Id Selectors ---------------------- */


/* --------------------- Class Selectors --------------------- */
.header {
	
	text-align: center;
	color: #660000;
}
.nav {

	background-color: #ffcccc;
}
.initSlot {
	
	display: none;
}

/* ---------------------- Tag Selectors ---------------------- */
head, body, footer{
	
	background-color: #ffe6e6;
	width:100%;
}
a {
	
	text-decoration: none;
	color: #ffffff;
	font-style: italic;
	font-size: 1.4em;
}

input, button
{
	width:80%;
}
/*
input[type="text"] !important {
    width: 100%;
}
table tr !important {
	
	width: 1330px;
	height: 37px;
}
table td !important {
	
	width: 190px;
	height: 37px;
}*/
table
{
	width:100%;
}
tr
{
	border:solid 1px black;
}
td
{
	padding:2%;
}