/* ----------------------  Id Selectors ---------------------- */
#plusField, #minusField {
	
	width: 25%;
	float: left;
	text-align: left;
	font-size: 1.4em;
}
#saveSlot {
	
	width: 50%;
	float: right;
	text-align: right;
	font-size: 1.4em;
}
#dataTable {
	
	height : 750px;
}

/* --------------------- Class Selectors --------------------- */
.editNow {
	
	font-weight: bolder;
}
.hideMe {
	
	display: none;
}
.selected td {
	
	background-color: #e6e6e6 !important;
}
.paginate_button current {
	
	font-size: 0.85em;
}
.paginate_button{
	
	font-size: 0.85em;
}
.btn {
	
	background-color: #ccccff;
	color: #4d0099;
}
.header {
	
	text-align: center;
	color: #4d0099;
}
.nav {

	background-color: #e6e6e6;
	color: #ffffff;
}
.initSlot {
	
	display: none !important;
}
.table-hover > tbody > tr:hover !important {
    
    background-color: #e6ccff !important; /* #e6e6e6 */
}

/* ---------------------- Tag Selectors ---------------------- */
head, body, footer{
	
	background-color: #f2f2f2;
}
a {
	
	text-decoration: none;
	color: #4d0099;
	font-style: italic;
	font-size: 1.4em;
}
table.display tbody tr td{
	
    background-color: #f2f2f2;
}
th {
	
	background-color: #f2f2f2;
	border-style: hidden;
}

tbody td {
	
	background-color: #f2f2f2;
}
table.dataTable{
	
	border-collapse: collapse;
}