/* ----------------------  Id Selectors ---------------------- */
#plusField, #minusField {
	
	width: 25%;
	float: left;
	text-align: left;
	font-size: 1.4em;
}
#saveSlot {
	
	width: 50%;
	float: right;
	text-align: right;
	font-size: 1.4em;
}
#dataTable {
	
	height : 750px;
}
#noResults {
	
	font-size: 2.5em;
	font-weight: bolder;
	text-decoration: underline;
}

/* --------------------- Class Selectors --------------------- */
.invoiceTable {

  	width: 100%;
	border-spacing: 10px;
}
.invoiceTable .btn{
	
	width: 200px;
	padding: 1em;
}

.main-details {
	
	font-weight: bolder;
}
.editNow {
	
	font-weight: bolder;
}
.hideMe {
	
	display: none;
}
.selected td {
	
	background-color: #e6e6e6 !important;
}
.paginate_button current {
	
	font-size: 0.85em;
}
.paginate_button{
	
	font-size: 0.85em;
}
.btn {
	
	background-color: #ccccff;
	color: #4d0099;
}
.header {
	
	text-align: center;
	color: #4d0099;
}
.nav {

	background-color: #e6e6e6;
	color: #ffffff;
}
.initSlot {
	
	display: none !important;
}
.table-hover > tbody > tr:hover !important {
    
    background-color: #e6e6e6 !important;
}

/* ---------------------- Tag Selectors ---------------------- */
head, body, footer{
	
	background-color: #f2f2f2;
	width:100%;
	text-align:center;
}
a {
	
	text-decoration: none;
	color: #4d0099;
	font-style: italic;
	font-size: 1.4em;
}
table.display tbody tr td {
	
    background-color: #f2f2f2;
}
input[type="text"] {
    
    width: 100% !important;
}
th {
	
	background-color: #f2f2f2;
	border-style: hidden;
	text-align: left;
	font-size: 1.25em;
}
tbody td {
	
	background-color: #f2f2f2;
	text-align: left;
	font-size: 1.25em;
}